<style>
            body {
              margin: 0;
              font-family: Arial, Helvetica, sans-serif;
              /*background-image: url('mainpage.jpeg'); */
              /*background: linear-gradient(to bottom, #ffffcc 0%, #ffcc99 111%);*/
              background-color: white;

              background-size: 100%;
              background-repeat: no-repeat;
            }
            
            .topnav {
              overflow: hidden;
              background-color:silver;
              }
            
            .topnav a {
              float: left;
              color: black;
              text-align: center;
              padding: 10px 16px;
              text-decoration: none;
              font-size: 17px;
            }
            
            .topnav a:hover {
              background-color: #ddd;
              color: black;
            }
            
            .topnav a.active
            {
              background-color:white;
              color: black;
            }
            
            .container { 
              height: 200px;
              position: relative; 
            }

            .center {
              margin: 0;
              position: absolute;
              top: 100%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
            }
            .center {
              display: inline-block;
              padding: 15px 25px;
              font-size: 24px;
              cursor: pointer;
              text-align: center;
              text-decoration: none;
              outline: none;
              color: #fff;
              background-color: #4CAF50;
              border: none;
              border-radius: 15px;
              box-shadow: 0 9px #999;
            }
            
            .dark-mode {
              background-color: black;
              color: white;
            }

</style>